name: Build and Push Frontend

on:
    push:
        paths:
            - 'html/**'
    workflow_dispatch:

permissions:
    packages: write
    contents: read

jobs:
    build-push:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - name: Login to GitHub Container Registry
              uses: docker/login-action@v2
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
            - name: Extract metadata (tags, labels) for Docker
              id: meta
              uses: docker/metadata-action@v4
              with:
                images: ghcr.io/trade-booking-system/frontend
            - name: Build and Push Image
              uses: docker/build-push-action@v4
              with:
                push: true
                context: ./html
                labels: ${{ steps.meta.outputs.labels }}
                tags: ${{ steps.meta.outputs.tags }}
    update-cluster:
        name: deploy
        needs: build-push
        uses: ./.github/workflows/deploy.yml
        with:
          cluster: "arn:aws:ecs:us-east-1:142002257801:cluster/yisroel-test"
